@model ProductListViewModel
@* burası page yapadan önce List<Product> *@
@*  buradaki list dediğimiz için controllerda ToList   kullanıdk ama "IQueryable" deseykik gerek yoktu *@ 


    <div class="row" >

     <div class="col-md-3">
        @await Component.InvokeAsync("CategoryMenuViewPartial")
        @await Component.InvokeAsync("aaaaaa");
        <div products="">  </div>
       
     </div>




    <div class="col-md-9">

        <div class="row my-3">
            @foreach (Product prd in Model.products)    @* .products   yukarsıyı değiştirdiğm için yaptım o yoktu *@
            {

                <partial name="ProductCardParital" model="@prd" />
                

            }
        </div>
        <div>
             <div page-model="@Model.pagination"  page-action="Index"
              page-classes-enabled="true"
              page-class="btn"
              page-class-normal="btn-outline-dark"
              page-class-selected="btn-primary"
              class="btn btn-group" >

             </div>
        </div>


    </div>

    </div>

   











@* 
<div>    @model List<StoreApp.Models.Product>                                     BU ŞEKİDEDE YAPARSAN ÇALIŞIR AMA   PARTİAL BAĞLI İLE APTIM  UNUTMA  // bu kısım bootscrap aeklemeden önceki  css siz sadece döngü için
    <h3>@prd.ProductName</h3>

    <p>@prd.Price)</p>
    <p>
        <a  href="/Product/Get/@prd.ProductId">  detaylara git </a>

    </p>
</div> *@



