@page


<div class="text-center">
    <h6 class="display-6">Teşekkür ederiz</h6>
    <p>Sipariş verdiğiniz için teşşürler  </p>
    <p>yakında siparişinizi teslim edeceğiz</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ana sayfaya geri dön</a>
</div>



