@page

<div class="text-center">

    <div class="display-6"> Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary"> </i>
        <p>
            Alo Bağlantı Hattı

        </p>

        <i class="fa fa-address-book text-primary"> </i>
        <p>
            Konumumuz İstanbul /kadıköy / bahdat caddesi / eflatun sokak no:37 daire:2

        </p>
        <i class="fa-solid fa-envelope text-primary"> </i>
        <p>
            kahya.yusufsahin@gmail.com

        </p>
    </div>

</div>
