@model IEnumerable<Category>  

<div>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-route-categoryId="@item.categoryId">
                @item.categoryName

                </a>
            </li>
        }
    </ul>
</div>
