@model IEnumerable<Product>

<div class="display-6 text-center" >
    <h3> Vitrin</h3>
</div> 

<div class="row">

    @foreach (var item in Model)    @* //ProductCardParital  kullandım ama sadece showcase ture olanları çaırdık *@
    {
        <partial name="ProductCardParital" model="item" />
    }


</div>